.vscode
node_modules/*
dist
.idea/
.vercel
.cache
_site/
**/.DS_Store
.netlify

netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css



